.bgImage{
    background-image: url("./assets/coming-soon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 72px);
}
